@model Hotel.Models.Cliente

<div class="modal-header">
    <h5 class="modal-title" id="detailsModalLabel">Dettagli Cliente</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">@Model.Nome</dd>

        <dt class="col-sm-3">Cognome</dt>
        <dd class="col-sm-9">@Model.Cognome</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>
    </dl>
</div>
