<h2>Benvenuto nel sistema di gestione delle contravvenzioni</h2>

<ul>
    <li><a asp-controller="Anagrafica" asp-action="Index">Gestione Trasgressori</a></li>
    <li><a asp-controller="TipoViolazione" asp-action="Index">Elenco Violazioni</a></li>
    <li><a asp-controller="Verbale" asp-action="Index">Gestione Verbali</a></li>
</ul>