@model Hotel.Models.Prenotazione

<div class="modal-header">
    <h5 class="modal-title" id="editModalLabel">Modifica Prenotazione</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="editForm" asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="ClienteId" class="form-label"></label>
            <select asp-for="ClienteId" class="form-select" asp-items="ViewBag.Clienti"></select>
            <span asp-validation-for="ClienteId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CameraId" class="form-label"></label>
            <select asp-for="CameraId" class="form-select" asp-items="ViewBag.Camere"></select>
            <span asp-validation-for="CameraId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DataPrenotazione" class="form-label"></label>
            <input asp-for="DataPrenotazione" class="form-control" />
            <span asp-validation-for="DataPrenotazione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Dal" class="form-label"></label>
            <input asp-for="Dal" class="form-control" />
            <span asp-validation-for="Dal" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Al" class="form-label"></label>
            <input asp-for="Al" class="form-control" />
            <span asp-validation-for="Al" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Caparra" class="form-label"></label>
            <input asp-for="Caparra" class="form-control" />
            <span asp-validation-for="Caparra" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Tariffa" class="form-label"></label>
            <input asp-for="Tariffa" class="form-control" />
            <span asp-validation-for="Tariffa" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TipologiaSoggiorno" class="form-label"></label>
            <select asp-for="TipologiaSoggiorno" class="form-select" asp-items="ViewBag.TipologiaSoggiorno"></select>
            <span asp-validation-for="TipologiaSoggiorno" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ServiziSelezionati" class="form-label"></label>
            <select asp-for="ServiziSelezionati" class="form-select" asp-items="ViewBag.Servizi" multiple="multiple"></select>
            <span asp-validation-for="ServiziSelezionati" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Salva" class="btn btn-primary" />
        </div>
    </form>
</div>
