@model PoliziaMunicipale.Models.Verbale

@{
    ViewData["Title"] = "Modifica Verbale";
}

<h2>Modifica Verbale</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="DataViolazione" class="control-label"></label>
        <input asp-for="DataViolazione" class="form-control" type="date" />
        <span asp-validation-for="DataViolazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IndirizzoViolazione" class="control-label"></label>
        <input asp-for="IndirizzoViolazione" class="form-control" />
        <span asp-validation-for="IndirizzoViolazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NominativoAgente" class="control-label"></label>
        <input asp-for="NominativoAgente" class="form-control" />
        <span asp-validation-for="NominativoAgente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataTrascrizioneVerbale" class="control-label"></label>
        <input asp-for="DataTrascrizioneVerbale" class="form-control" type="date" />
        <span asp-validation-for="DataTrascrizioneVerbale" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Importo" class="control-label"></label>
        <input asp-for="Importo" class="form-control" />
        <span asp-validation-for="Importo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DecurtamentoPunti" class="control-label"></label>
        <input asp-for="DecurtamentoPunti" class="form-control" />
        <span asp-validation-for="DecurtamentoPunti" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnagraficaId" class="control-label"></label>
        <input asp-for="AnagraficaId" class="form-control" />
        <span asp-validation-for="AnagraficaId" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Salva" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>
