<h2>Gestione Verbali</h2>

<ul>
    <li><a asp-action="Create">Nuovo Verbale</a></li>
    <li><a asp-action="VerbaliTrasgressori">Totale Verbali per Trasgressore</a></li>
    <li><a asp-action="PuntiDecurtatiTrasgressori">Totale Punti Decurtati per Trasgressore</a></li>
    <li><a asp-action="ViolazioniOverTenPoints">Violazioni con Decurtamento Punti > 10</a></li>
    <li><a asp-action="ViolazioniOver400Euro">Violazioni con Importo > 400 Euro</a></li>
</ul>
