@model IEnumerable<PoliziaMunicipale.Models.TipoViolazione>

<h2>Elenco Violazioni</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Descrizione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var violazione in Model)
        {
            <tr>
                <td>@violazione.Descrizione</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Home</a>
</div>
