<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']"><img src="../../../assets/img/Progetto senza titolo (1).png" width="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/asus']" routerLinkActive="active">Asus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/acer']" routerLinkActive="active">Acer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lenovo']" routerLinkActive="active">Lenovo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
