<div class="container mt-4">
  <div *ngFor="let user of users" class="card mb-3 ">
    <div class="card-body d-flex align-items-center" [ngStyle]="{'background-color': getRandomColor()}">
      <img [src]="user.image" alt="User Image" class="img-thumbnail me-3" style="width: 100px; height: 100px;">
      <div>
        <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
        <p class="card-text">
          <i class="bi bi-envelope-fill me-1"></i> {{ user.email }}
        </p>
        <p class="card-text">
          <i class="bi bi-person-badge-fill me-1"></i> {{ user.title }}
        </p>
      </div>
      <div class="ms-auto">
        <button type="button" class="btn btn-primary">
          <i class="bi bi-eye-fill me-1"></i> View Profile
        </button>
      </div>
    </div>
    <div class="list-group">
      <div *ngFor="let todo of getUserTodos(user.id)" class="list-group-item d-flex align-items-center">
        <input type="checkbox" [checked]="todo.completed" (change)="toggleTodoStatus(todo)" class="me-3">
        <span>{{ todo.todo }}</span>
      </div>
    </div>
  </div>
</div>
