<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BW5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BW5.styles.css" asp-append-version="true" />
    <style>
        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #f8f9fa;
            padding-top: 20px;
        }
        .sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: #333;
            display: block;
        }
        .sidebar a:hover {
            background-color: #ddd;
        }
        .content {
            margin-left: 260px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <!--Farmacista-->
        <a asp-area="" asp-controller="Animals" asp-action="Index">Gestione Animali</a>
        <a asp-area="" asp-controller="Recoveries" asp-action="Index">Gestione Ricoveri</a> 
        <a asp-area="" asp-controller="Visits" asp-action="Index">Gestione Visite</a>

        <!--Veterinario-->
        <a asp-area="" asp-controller="Cabinets" asp-action="Index">Gestione Armadi</a>
        <a asp-area="" asp-controller="Drawers" asp-action="Index">Gestione Cassetti</a>
        <a asp-area="" asp-controller="Products" asp-action="Index">Gestione Prodotti</a>
        <a asp-area="" asp-controller="Sales" asp-action="Index">Gestione Vendite</a>
        <a asp-area="" asp-controller="Suppliers" asp-action="Index">Gestione Fornitori</a>
        <!-- Aggiungi altri link qui secondo le tue necessità -->
    </div>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BW5 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
