<div class="container mt-5">
  <h1>Welcome to Films</h1>
  <div class="row">
    <div class="col-4" *ngFor="let movie of movies">
      <div class="card mb-3">
        <img [src]="movie.posterUrl" class="card-img-top" alt="{{ movie.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">Year: {{ movie.year }}</p>
          <p class="card-text">Runtime: {{ movie.runtime }}</p>
          <p class="card-text">Director: {{ movie.director }}</p>
          <p class="card-text">Plot: {{ movie.plot }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
