<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PoliziaMunicipale</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PoliziaMunicipale.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <nav class="flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold">Menu</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Anagrafica" asp-action="Index">Gestione Trasgressori</a></li>
                <li><a asp-controller="TipoViolazione" asp-action="Index">Elenco Violazioni</a></li>
                <li><a asp-controller="Verbale" asp-action="Index">Gestione Verbali</a></li>
            </ul>
        </nav>
        <main class="flex-grow-1 p-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
