
/*

    .sidebar-nav {
        position: fixed;
        top: 56px;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: #f8f9fa;
        padding-top: 20px;
    }

        .sidebar-nav a {
            display: block;
            padding: 10px 15px;
            color: #333;
        }

            .sidebar-nav a:hover {
                background-color: #ddd;
            }

    .main-content {
        margin-left: 220px;
    }}
*/
