<div class="container-fluid bg-dark mt-5 text-light">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-body-white">© 2024 Company, Inc</p>

          <p class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="../../../assets/img/Progetto senza titolo (1).png" class="bi me-2" width="70" height="62">
          </p>

          <ul class="nav col-md-4 justify-content-end  ">
            <li class="nav-item "><a [routerLink]="['/']" class="nav-link px-2 text-body-white">Home</a></li>
            <li class="nav-item"><a [routerLink]="['/asus']" class="nav-link px-2 text-body-white menu-footer">Asus</a></li>
            <li class="nav-item"><a [routerLink]="['/acer']" class="nav-link px-2 text-body-white menu-footer">Acer</a></li>
            <li class="nav-item"><a [routerLink]="['/lenovo']" class="nav-link px-2 text-body-white menu-footer">Lenovo</a></li>
          </ul>
        </footer>
      </div>
</div>
